extends ./layout

block styles
  // Default home page

  link(href='/styles/bootstrap.css', rel='stylesheet')
  link(href='/styles/app2.css', rel='stylesheet')


block body
    header(role="banner").navbar.navbar-static-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="../").navbar-brand.brand altitude
            nav(role="navigation").collapse.navbar-collapse.bs-navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="/") this week
                    li.active
                        a(href="/commits/m1") m1
                    li.active
                        a(href="/commits/m2") m2
                    if isAdmin
                        li.active
                            a(href="/admin") admin


    .container
        h1 Marketplace Services Plan
        .row
            .col-xs-4.border.m
                    h2 M1
            .col-xs-8.border.m
                    h2 M2
        .row
            .col-xs-5.iteration: b i2
            .col-xs-4.iteration: b i3
            .col-xs-3.iteration: b i4
        .row
          .col-md-12
              .row
                .col-xs-8.deliverable1 Deliver this thing
                    i (deliverable text)
                .col-xs-4.deliverable2 Deliver this other thing, etc
              .row
                .col-xs-2: b w1
                .col-xs-2: b w2
                .col-xs-2: b w3
                .col-xs-2: b w4
                .col-xs-2: b w5
                .col-xs-2: b w6
              .row
                .col-xs-2 task text 1
                .col-xs-2 task text 2
                .col-xs-2 task text 3
                .col-xs-2 task text 4
                .col-xs-2 task text a
                .col-xs-2 task text b
              .row
                .col-xs-2 task text 1
                .col-xs-2 task text 2
                .col-xs-2 task text 3
                .col-xs-2 task text 4
                .col-xs-2 task text a
                .col-xs-2 task text b





