extends ./layout

block styles
    // Default home page

    link(href='/styles/bootstrap.css', rel='stylesheet')
    link(href='/styles/app.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.9.0.js')
    script(src='/js/dependencies/jquery.jeditable.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(type='text/javascript').
        $(document).ready( function(){
          $('.edit_area').editable(
            function(value, settings){
              console.log(value,settings)
            }
            , {
              type: 'textarea'
              , indicator: 'Saving...'
              , tooltip: 'click to edit'
              , rows: 5
              , cssclass: 'editableTask'
              });
            /*
            $('.w').click(function(e){
                alert(e.className)
                $(e.target).toggleClass('fitText');
                $(e.target).toggleClass('edit_area');
                //$('.edit_area').editable('/task/create')
            });
            */
        });

        function toggleText(el){
            alert(el)
            $(document).ready( function(){
              $(el.id).toggleClass('fitText');
            })

            //$(e.target).toggleClass('fitText');
            //$(e.target).toggleClass('edit_area');
            //$('.edit_area').editable('/task/create')
        };


block body
    header(role="banner").navbar.navbar-static-top.navbar-inverse
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="../").navbar-brand.brand altitude
                nav(role="navigation").collapse.navbar-collapse.bs-navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/") this week
                        li.active
                            a(href="/commits/m1") m1
                        li.active
                            a(href="/commits/m2") m2
                        if isAdmin
                            li.active
                                a(href="/admin") admin


    .container
        h1 Marketplace Services Plan


        .row
            .col-xs-2 &nbsp;
            .col-xs-8.border.m
                h2 M1
            .col-xs-2.border.m
                h2 M2

        .row
          .col-xs-2 &nbsp;
          .col-xs-8.iteration: b i2 (June 2 - July 3)
          .col-xs-2.iteration: b i3 (July 7 - August 1)
        .row
            .col-xs-2 &nbsp;
            .col-xs-10.deliverable2.deliverable EDS on BigCat for Y2K video for PC
        .row
            .col-xs-2 &nbsp;
            .col-xs-8.deliverable1.deliverable [DCR] Add a parental ratings for Fubar Games

        .row
            .col-xs-2: b Teammember
            .col-xs-2.w: b 6-Jun
            .col-xs-2.w: b 13-Jun
            .col-xs-2.w: b 20-Jun
            .col-xs-2.w: b 27-Jun
            .col-xs-2.w: b 3-Jul
        .row
            .col-xs-2 Frank Zhang (EHOME)
            .col-xs-2.w
                #accordion1.panel-group
                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion1", href="#collapseOne") [BDS - 360 music get off Zest] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006
                        #collapseOne.panel-collapse.collapse
                            .panel-body.edit_area.editableTask [BDS - 360 music get off Zest] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006
            .col-xs-2.w
                #accordion2.panel-group
                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion2", href="#collapseTwo") [Content Deployment] Test the query performance of multiple sort orders in a single index.
                        #collapseTwo.panel-collapse.collapse
                            .panel-body.edit_area.editableTask [Content Deployment] Test the query performance of multiple sort orders in a single index.
                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion2", href="#collapseThree") Some other task
                        #collapseThree.panel-collapse.collapse
                            .panel-body.edit_area.editableTask Some other task
            .col-xs-2.: i Buffer
            .col-xs-2.w: i Buffer
        .row
            .col-xs-2 Doug Olson (IEB)
            .col-xs-2.w XYZX % Based discount Price Tiers
            .col-xs-2.w XYZX and XYZY feature and bug Fixes
            .col-xs-2.w: i Vacation
            .col-xs-2.w.deliverable2 [BDS on BigCat] Shadow-mode cut-over
        .row
            .col-xs-2 Dennis Russell
            .col-xs-2.w &nbsp;

            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
        .row
            .col-xs-2 Reid Miller
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
        .row
            .col-xs-2 Cyrus Jamula
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;







