.deliverable1 {
    background-color: lightblue;
}

.deliverable2 {
    background-color: lightgreen;
}

.iteration {
    background-color: lightgray;
    padding-left: 5px;
    border-left: 1px solid #eee;
}

.m {
    background-color: darkgray;
    color: white;
    padding-left: 5px;
    border-left: 2px solid #eee;

}

