a { display:block; /* Pre-existing code */ }
.inline {
    display:inline;
}

.timeControl {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.deliverable {
    .fitText
}

.editableTask {
    wrap: soft;
    rows: 10;
    border-color: white;
    overflow: auto;
    left: -100px;
    top: -100px;

}


.deliverable1 {
    background-color: lightblue !important;
}

.deliverable2 {
    background-color: lightgreen !important;


}

.iteration {
    background-color: darkgray;
    padding-left: 4px;
    padding-right: 1px;
    /* border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    */
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

.m {
    background-color: gray;
    color: white;
    padding-left: 4px;
    padding-right: 1px;
    /*
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    */
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;

}

.weekSchedule {
    text-align: right;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(211,211,211,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 ); /* IE6-9 */
}
.w {
    padding-left: 1px;
    padding-right: 1px;
    /*
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    */
}

.fitText {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;

}


.taskOptionButton {
    width: 50px;
    height: 50px;
}


.centered {
    float: right;
}

.button-disabled {
    opacity: 0.25;
}