.deliverable {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.deliverable1 {
    background-color: lightblue;
}

.deliverable2 {
    background-color: lightgreen;

}

.iteration {
    background-color: lightgray;
    padding-left: 5px;
    border-left: 1px solid #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.m {
    background-color: darkgray;
    color: white;
    padding-left: 5px;
    border-left: 2px solid #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;

}

.w {
    padding-left: 2px;
    border-left: 2px solid #cccccc;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;

}


